.row
  .col-md-2
  .col-md-8
    = render '/office_automation_employee/shared/flash'

    .panel.panel-default
      .panel-heading
        %strong Resend confirmation instructions

      .panel-body
        .container-fluid
          .col-md-2
          .col-md-8
            = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|

              .form-group
                = f.input :email, :autofocus => true, input_html: { class: "form form-control", placeholder: "example@domain.com", required: true, maxlength: 50 }

              .form-group
                = f.submit "Resend confirmation instructions", class: "btn btn-primary"

              .form-group
                = render "office_automation_employee/devise/shared/links"
