.row
  .col-md-2
  .col-md-8
    = render 'office_automation_employee/shared/flash'
    
    .panel.panel-default
      .panel-heading
        %strong= @company.name + " profile"
      .panel-body
        .container-fluid
          = simple_form_for @company do |f|
            = render partial: 'office_automation_employee/shared/company', object: f

            .form-group
              = f.check_box :same_as_registered_address, id: 'same'
              %strong Current address is same as registered address
            .row
              .col-md-6
                .well
                  %strong Registered Address
                = f.simple_fields_for :registered_address, @registered_address do |address|
                  = render partial: "office_automation_employee/shared/address", locals: {address: address}
              .col-md-6
                .well
                  %strong Current Address
                .form-group
                  = f.simple_fields_for :current_address, @current_address do |address|
                    = render partial: "office_automation_employee/shared/address", locals: {address: address}

            .form-group= f.submit class: "btn btn-primary"
