%p
  %strong Name:
  = @company.name
%p
  %strong Registered Address
  %strong Address
  = @company.registered_address.address
%p
  %strong City
  = @company.registered_address.city
%p
  %strong Pin
  = @company.registered_address.pincode
%p 
  %strong State
  = @company.registerd_address.city
%p
  %stong Country
  = @company.registered_address.country
%p
  %strong Phone No
  = @company.registered_address.phone

