= simple_nested_form_for(@user, url: office_automation_employee.company_user_path(@user.company, @user), remote: true, method: :put, input_html: {role: :form, multipart: true} ) do |user_form|
  #new_document
    = user_form.fields_for :attachments do |attachment|
      .form-group
        - unless attachment.object.persisted?
          .row
            .col-md-5
              = attachment.input :name, autofocus: true, input_html: {class: "form-control"}
            .col-md-3
              = attachment.input :document, class: "btn btn-primary"
            .col-md-4
              %br
              = attachment.link_to_remove "Remove", class: "btn btn-primary"

  .row
    %p{ align: :right}
      = user_form.link_to_add "Add More", :attachments, class: "btn btn-primary", data: { target: "#new_document" }
  .form-group
    = user_form.submit "Update Profile", class: "btn btn-primary", data: {disable_with: "Updating.."}
