= simple_form_for(@user, url: office_automation_employee.company_user_path(@user.company, @user), remote: true, method: :put, input_html: { role: :form } ) do |user|
  .form-group
    = user.simple_fields_for :personal_profile, @personal_profile do |personal_profile|
      .row
        .col-md-6
          .form-group
            %label.col-xs-5.control-label Pan Number
            .col-xs-7
              .form-group
                = personal_profile.input :pan_number, label: false,  input_html: {class: "form-control", maxlength: 15, placeholder: "Enter Pan Number"}
          .form-group
            %label.col-xs-5.control-label Email-ID
            .col-xs-7
              .form-group
                = personal_profile.input :personal_email,label: false, input_html: {class: "form-control", placeholder: "example@example.com"}
          .form-group

            %label.col-xs-5.control-label Passport Number
            .col-xs-7
              .form-group
                = personal_profile.input :passport_number, label: false, input_html: {class: "form-control", placeholder: "Enter Passport Number"}
    
          .form-group

            %label.col-xs-5.control-label Qualification
            .col-xs-7
              .form-group
                = personal_profile.input :qualification, label: false, input_html: {class: "form-control", placeholder: "Enter Qualification"}
    
        .col-md-6
          .form-group

            %label.col-xs-5.control-label Joining Date
            .col-xs-7
              .form-group
                #datepicker.input-group.date
                  = personal_profile.input :date_of_joining, label: false, input_html: {class: "form-control", readonly: true}
                  %span.input-group-addon.glyphicon.glyphicon-calendar
          .form-group

            %label.col-xs-5.control-label Work Experience
            .col-xs-3
              .form-group
                = personal_profile.input :work_experience, label: false, collection: 0..30, input_html: {class: "form-control"}
            %label.col-xs-3.control-label Years
          .form-group

            %label.col-xs-5.control-label Previous Company
            .col-xs-7
              .form-group
                = personal_profile.input :previous_company, label: false, input_html: {class: "form-control"}


      .form-group

        = personal_profile.check_box :same_as_permanent_address, id: 'same_user_address', value: personal_profile.object.same_as_permanent_address 
        %strong Current address is same as permanant address
      .row
        .col-md-6
          .form-group
            .well
              %strong= "Permanent Address"
            = personal_profile.simple_fields_for :permanent_address, @permanent_address do |address|
              = render partial: "office_automation_employee/shared/address", locals: {address: address}
        .col-md-6
          .form-group
            .well
              %strong Current Address
            = personal_profile.simple_fields_for :current_address, @current_address do |address|
              = render partial: "office_automation_employee/shared/address", locals: {address: address}
  .form-group
    = user.hidden_field :update_type, value: 'personal_profile'
    = user.submit "Update Profile", class: "btn btn-primary", data: {disable_with: 'Updating..'}
