.form-group
  .col-md-4
    .form-group
      = profile.input :first_name, label: 'First Name', input_html: {class: "form-control", maxlength: 15, placeholder: "Enter First Name"}
  .col-md-4
    .form-group
      = profile.input :middle_name, label: 'Middle Name', input_html: {class: "form-control", maxlength: 15, placeholder: "Enter Middle Name"}
  .col-md-4
    .form-group
      = profile.input :last_name, label: 'Last Name', input_html: {class: "form-control", maxlength: 15, placeholder: "Enter Last Name"}
.form-group
  .col-md-4
    .form-group
      = profile.input :mobile_number, as: :tel, label: 'Mobile Number', input_html: {class: "form-control"}
  .col-md-4
    .form-group
      = profile.input :gender, label: 'Gender', collection: [:Male, :Female], selected: 'Male', input_html: {class: "form-control"}
  .col-md-4
    .form-group
      = profile.input :blood_group, label: 'Blood Group', collection: ['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-'], selected: 'A+', input_html: {class: "form-control"}
  
.form-group
  .col-md-4
    %label Date Of Birth
    #datepicker1.input-group.date
      = profile.input :date_of_birth, label: false, input_html: {class: "form-control", readonly: true}
      %span.input-group-addon.glyphicon.glyphicon-calendar
  .col-md-4
    = profile.input :skills, as: :text, label: 'Skills', input_html: {class: "form-control"}
.form-group
  .col-md-4
    = profile.input :designation, label: 'Designation', input_html: {class: "form-control"}
