.row
  .col-md-2
  .col-md-8
    .custom-alert
    = render "office_automation_employee/shared/flash"
    .panel.panel-default
      .panel.panel-heading
        %strong Edit Profile

      .panel.panel-body
        .container-fluid

          .form-group
            %ul.nav.nav-tabs
              %li.active.profile-tab
                %a{data: {toggle: 'tab'}, href: "#profile", id: 'profile_tab'}
                  Public Profile
              %li.personal_profile-tab
                %a{data: {toggle: "tab"}, href: "#personal_profile", id: 'personal_profile_tab'}
                  Personal Profile
              %li.document-tab
                %a{data: {toggle: "tab"}, href: "#document", id: 'document_tab'}
                  Documents
          
          .tab-content
            .tab-pane.active#profile
              = render partial: "office_automation_employee/users/profile", locals: {user: @user}
            .tab-pane#personal_profile
              = render partial: "office_automation_employee/users/personal_profile",locals: {user: @user}
            .tab-pane#document
              
              #document_list
                = render partial: "office_automation_employee/users/document_list", collection: @user.attachments, as: :attachment
              #add_new_document
                = render partial: "office_automation_employee/users/document", locals: {user: @user} 
