.row
  .col-md-2
  .col-md-8
    = render 'office_automation_employee/shared/flash'
    .panel.panel-default
      .panel.panel-heading
        
        .row
          .col-md-4
            %strong Employees

          = form_tag company_users_path, method: 'get', id: 'users_search' do

            .col-md-2
            .col-md-6
              .input-group.input-group-sm
                = text_field_tag :q, params[:q], class: "form-control", maxlength: 20, placeholder: "Enter First Name/ Last Name/ Email id"
                %span.input-group-btn
                  = button_tag(type: 'submit', class: "btn btn-default active") do
                    %span.glyphicon.glyphicon-search
      .panel-body
        .col-md-15
          - if @failure_message
            %center
              %strong= @failure_message
          - else
            %table.table.table-hover
              %thead
                %tr
                  %th #
                  %th Profile Picture
                  %th Email
                  %th Roles
                  %th= "Status" if can? :manage, current_user
              %tbody.rowlink{ "data-link" => "row" }
                - @users.each_with_index do |user, index|
                  - next if user.status.eql? "Pending" and cannot? :manage, user
                  %tr
                    %td= index + 1
                    %td
                      %a{ href: office_automation_employee.company_user_path(@company, user) }
                        = image_tag user.image.thumb.url, class: "img-circle", size: "60x60"
                    %td= user.email
                    %td= user.roles.to_sentence
                    %td= user.status if can? :manage, user
            = paginate @users  
