.row
  .col-md-2
  .col-md-8
    = render 'office_automation_employee/shared/flash'
    .panel.panel-default
      .panel-heading
        %strong= @user.fullname || @user.email
      .panel-body
        .container-fluid
          .form-group
            = render partial: "office_automation_employee/shared/public_details", locals: { user: @user }
                    
          - if can? :edit, @user.company
            - if @user != current_user and @user.personal_profile.present?
              = render partial: 'office_automation_employee/shared/personal_details', locals: { user: @user }
            
            - if current_user != @user
              .form-group
                .row.well.well-sm
                  %p{ align: :right }
                    = link_to "Resend Invitation", office_automation_employee.resend_invitation_company_user_path(@user.company, @user), class: "btn btn-primary" unless @user.confirmed?
                    
                    = link_to (@user.status.eql?("Active") ? "Deactivate" : "Activate" ), office_automation_employee.activation_status_company_user_path(@user.company, @user), class: "btn btn-primary" if @user.confirmed?

                    = link_to "Remove", office_automation_employee.company_user_path(@user.company, @user),  method: :delete, class: "btn btn-danger" if current_user != @user
