!!!
%html
  %head
    %title OfficeAutomationEmployee
    %meta{ name: "viewport", content: "width=divice-width, initial-scale=1" }
    = stylesheet_link_tag    "office_automation_employee/application", media: "all"
    = javascript_include_tag "office_automation_employee/application"
    = csrf_meta_tags
  %body
    #wrap
      %nav.navbar.navbar-inverse.navbar-static-top{ role: "navigation" }
        %a.navbar-brand{ href: main_app.root_path } 
          %span.glyphicon.glyphicon-home 
          %strong Office Automation

        %ul.nav.navbar-nav.pull-right
          %li= link_to "Invite Users", office_automation_employee.new_user_invitation_path if signed_in? and current_user.role.include? "Admin"
          %li= link_to "Edit Profile", office_automation_employee.edit_company_user_path(current_user.company, current_user) if signed_in?
          %li= link_to "Sign Out", office_automation_employee.destroy_user_session_path, method: :delete if signed_in?

      .container-fluid
        = yield

    #footer
      .container
        %p= "Currently v" + OfficeAutomationEmployee::VERSION.to_s + "  ©2014 Josh OfficeAutomation." 
