!!!
%html
  %head
    %title OfficeAutomationEmployee
    %meta{ name: "viewport", content: "width=divice-width, initial-scale=1" }
    = stylesheet_link_tag    "office_automation_employee/application", media: "all"
    = javascript_include_tag "office_automation_employee/application"
    = csrf_meta_tags
  %body
    #wrap
      = render 'layouts/office_automation_employee/navbar'
      .container-fluid
        = yield

    #footer
      .container
        %p= "Currently v" + OfficeAutomationEmployee::VERSION.to_s + "  ©2014 Josh OfficeAutomation." 
