%label.col-md-5.control-label * Address
.col-md-7
  .form-group
    = address.input :address, label: false, as: :text, required: false,input_html:{class: "form-control", placeholder: "Enter Address"}

%label.col-md-5.control-label * City
.col-md-7
  .form-group
    = address.input :city, label: false,required: false, input_html: {class: "form-control", placeholder: "Enter City"}

%label.col-md-5.control-label * Pincode
.col-md-7
  .form-group
    = address.input :pincode, label: false,required: false, input_html: {class: "form-control", placeholder: "Enter Pincode"}

%label.col-md-5.control-label * State
.col-md-7
  .form-group
    = address.input :state, label: false,required: false, input_html: {class: "form-control", placeholder: "Enter state"}

%label.col-md-5.control-label * Country
.col-md-7
  .form-group
    = address.input :country, label: false,priority: ["india"], required: false, input_html: {class: "form-control"}

%label.col-md-5.control-label * Mobile/Landline No.
.col-md-7
  .form-group
    = address.input :phone, label: false, as: :tel, required: false, input_html: {class: "form-control", placeholder: "Mobile/Landline No"}
