.form-group
  %label.col-xs-5.control-label * Address
  .col-xs-7
    .form-group
      = address.input :address, label: false, as: :text, required: false,input_html:{class: "form-control", placeholder: "Enter Address"}
.form-group

  %label.col-xs-5.control-label * City
  .col-xs-7
    .form-group
      = address.input :city, label: false,required: false, input_html: {class: "form-control", placeholder: "Enter City"}
.form-group

  %label.col-xs-5.control-label * Pincode
  .col-xs-7
    .form-group
      = address.input :pincode, label: false,required: false, input_html: {class: "form-control", placeholder: "Enter Pincode"}
.form-group

  %label.col-xs-5.control-label * State
  .col-xs-7
    .form-group
      = address.input :state, label: false,required: false, input_html: {class: "form-control", placeholder: "Enter state"}
.form-group

  %label.col-xs-5.control-label * Country
  .col-xs-7
    .form-group
      = address.input :country, label: false,priority: ["india"], required: false, input_html: {class: "form-control"}
.form-group

  %label.col-xs-5.control-label * Mobile/Landline No.
  .col-xs-7
    .form-group
      = address.input :phone, label: false, as: :tel, required: false, input_html: {class: "form-control", placeholder: "Mobile/Landline No"}
