.form-group
  = company.input :name, label: 'Company name', input_html: {class: "form-control", maxlength: 30, placeholder: "Enter Company Name"}
.row
  .col-md-7
    .form-group
      %label * Registration Date
      .input-group
        = company.input :registration_date, label: false, input_html: {class: 'form-control datepicker', placeholder: "Select Date", readonly: true}
        %span.input-group-addon.glyphicon.glyphicon-calendar.datepicker
    .form-group
      = company.input :company_url, label: 'Company Website', as: :url, input_html: {class: "form-control", placeholder: "http://www.example.com"}

  .col-md-5
    .form-group
      %br
      .img-responsive.img-thumbnail= image_tag company.object.logo.square
      %span.btn.btn-default.btn-file
        %span.fileinput-new Upload logo
        = company.input_field :logo, as: :file
