.row
  .col-md-6
    .form-group
      = company.input :name, label: 'Company name', input_html: {class: "form-control", maxlength: 30, placeholder: "Enter Company Name"}
  .col-md-6
    .form-group
      %label * Registration Date
      .customdatepicker.input-group.date
        = company.input :registration_date, label: false, input_html: {class: 'form-control', placeholder: "Select Date", readonly: true, value: company.object.registration_date.try(:strftime, '%d-%m-%Y')}
        %span.input-group-addon.glyphicon.glyphicon-calendar
.row
  .col-md-6
    .form-group
      .img-responsive.img-thumbnail= image_tag company.object.logo.square
      = company.input :logo, as: :file, label: false
  .col-md-6
    .form-group
      = company.input :company_url, label: 'Company Website', as: :url, input_html: {class: "form-control", placeholder: "http://www.example.com"}
