%h1= "Hello #{@user.email}"
= "Your #{@user.company.name} password was changed."
%p= raw "If you haven't done this, #{link_to("click", office_automation_employee.new_user_password_url)} here to reset your password."
