.row
  .col-md-2
  .col-md-8
    = render 'office_automation_employee/shared/flash'

    .panel.panel-default
      .panel-heading
        %strong= t "devise.invitations.new.header"
        .pull-right= link_to content_tag(:span, "", class: "glyphicon glyphicon-download") + " Download Sample CSV file", office_automation_employee.download_sample_csv_path

      .panel-body
        .container-fluid
          = simple_nested_form_for(@company, url: office_automation_employee.user_invitation_path, html: { method: :post }) do |f|
            .form-group
              .row
                .pull-right
                  %span.btn.btn-info.btn-file
                    %span.fileinput-new= content_tag(:span, "", class: "glyphicon glyphicon-open") + " Upload CSV file"
                    = f.input_field :csv_file, as: :file

            #invitee
              = f.fields_for :users do |user|
                - if user.object.new_record? and not user.object.deleted?
                  .form-group
                    .row
                      .col-md-5
                        = user.input :email, autofocus: true, input_html: { class: "form-control", placeholder: "Enter Email address", maxlength: 50}, label: false
                      .col-md-3
                        = user.input :roles, collection: f.object.roles, input_html:{ class: "form-control" }, label: false, selected: true
                      .col-md-4
                        = user.link_to_remove "Remove", class: "btn btn-primary"

            .form-group
              .row
                .pull-right
                  = f.link_to_add "Add more", :users, class: "btn btn-primary", data: { target: "#invitee" }

            .form-group
              = f.submit "Send Invitations", class: "btn btn-primary", data: { toggle: "tooltip", title: "Click here to Send invitation", container: "body" }
