.row
  .col-md-2
  .col-md-8
    = render 'office_automation_employee/shared/flash'

    .panel.panel-default
      .panel-heading
        %strong= t "devise.invitations.new.header"

      .panel-body
        .container-fluid
          = simple_nested_form_for(@company, url: office_automation_employee.user_invitation_path, html: { method: :post }) do |f|
            .form-group
              .row
                = f.link_to_add "Add more", :users, class: "btn btn-primary pull-right", "data-target" => "#invitee"
                .pull-right.btn= f.input :csv_file, as: :file, label: false
            #invitee
              = f.fields_for :users do |user|
                - if user.object.new_record?
                  .form-group
                    .row
                      .col-md-5
                        = user.input :email, autofocus: true, input_html: { class: "form-control", placeholder: "Enter Email address", maxlength: 50}, label: false
                      .col-md-3
                        = user.input :roles, collection: OfficeAutomationEmployee::Role.all, input_html:{ class: "form-control" }, label: false, selected: true
                      .col-md-4
                        = user.link_to_remove "Remove", class: "btn btn-primary"

            .form-group= f.submit "Send Invitations", class: "btn btn-primary"

    - if @invalid_rows.present?
      .has-error
        %label.control-label= "There are some invalid emails present in #{@csv_file.original_filename}"
        %br
        - @invalid_rows.each do |row|
          %span.control-label= row
